<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="ray.io.raysakakibara.prive">

    <application
        android:name="ray.io.raysakakibara.prive.MyApplication"

    package="com.io.raysakakibara.prive">

        android:allowBackup="true"
        android:icon="@drawable/iconxxhdpi"
        android:label="Prive"
        android:roundIcon="@drawable/iconxxhdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="ray.io.raysakakibara.prive.SplashActivity">

        <activity android:name="com.io.raysakakibara.prive.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ray.io.raysakakibara.prive.Create" />
        <activity android:name="ray.io.raysakakibara.prive.DetailActivity" />
        <activity android:name="ray.io.raysakakibara.prive.MainActivity" />
        <activity android:name="com.io.raysakakibara.prive.Create" />
        <activity android:name="com.io.raysakakibara.prive.DetailActivity" />
        <activity android:name="com.io.raysakakibara.prive.MainActivity" />
    </application>

</manifest>